body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  width: 100%;
}

@media (max-width: 700px) {
  h1 {
    text-align: center;
    font-size: 3.5rem;
  }
  .logo {
    width: 100px;
  }
  .tile-image {
    width: 100%;
    object-fit: cover;
  }
  .card {
    margin-bottom: 100px;
  }
}

footer {
  text-align: right;
  color: midnightblue;
}

@media (min-width: 700px) {
  .left {
    float: left;
    margin-right: 10%;
  }
  .right {
    float: right;
  }
  .card {
    width: 45%;
  }
}

.card-text {
  text-align: justify;
}
.tile-image {
  height: 200px;
  margin-right: 50px;
  float: left;
}
